<p-sidebar [showCloseIcon]="false" [modal]="false" [(visible)]="displayFilterBar" position="top" [transitionOptions]="'100ms'"
           (onShow)="onShow()" (onHide)="onHide()">
  <med-filter (updatedStatuses)="updatedStatuses($event)" [menuItems]="menuItems"></med-filter>
  <p-toggleButton onLabel="Hide Filters" offLabel="-&#45;&#45;" styleClass="med-toggle-filters-button-on"
                  [(ngModel)]="displayFilterBar" onIcon="pi pi-times" (onChange)="onFilterClick1($event)"
  ></p-toggleButton>
</p-sidebar>
<div class="app-header" [ngStyle]="{'min-height': pageTopCss}">
  <p-toggleButton #filterButton onLabel="Show Filters" offLabel="Hide Filters"  (onChange)="onFilterClick($event)"
                  [(ngModel)]="showFilterButton" onIcon="pi pi-filter" offIcon="pi pi-times"
                  styleClass="med-toggle-filters-button" [style]="{'top': filterButtonTop}"></p-toggleButton>

</div>
<router-outlet></router-outlet>
